@import "../../../assets/colors.scss";

.menu {
    background-color: #2231AA;
    width: 84px;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}